Repository IGO-enviroment/museum-front: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c tsc --noEmit, eslint --fix, stylelint --fix, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "src/**/*.{ts,tsx}": ["bash -c tsc --noEmit", "eslint --fix"],
  "src/**/*.scss": ["stylelint --fix"],
  "*": ["prettier --write --ignore-unknown"]
}

- lock updated
  yarn.lock
Due: prettier --write --ignore-unknown

- поправлены стили - поправлен ридми
  README.md
  src/app/globals.scss
Due: stylelint --fix, prettier --write --ignore-unknown

- добавлен ci конфиг
  .github/workflows/main.yml
Due: prettier --write --ignore-unknown

- поправлено название ветки
  .github/workflows/main.yml
Due: prettier --write --ignore-unknown

- поправлено название лок файла
  .github/workflows/main.yml
Due: prettier --write --ignore-unknown

- resolutions field обновлено
  package.json
Due: prettier --write --ignore-unknown

- обновлен лок файл
  yarn.lock
Due: prettier --write --ignore-unknown

empty
  .github/workflows/main.yml
  package.json
Due: prettier --write --ignore-unknown

empty
  yarn.lock
Due: prettier --write --ignore-unknown

empty
  .eslintrc.json
Due: prettier --write --ignore-unknown

deleted eslint
  .eslintrc.json
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

empty
  .github/workflows/main.yml
Due: prettier --write --ignore-unknown

Добавлены:
  .lintstagedrc.json
  package.json
  src/app/globals.scss
  src/app/layout.module.scss
  src/app/layout.tsx
  src/app/page.tsx
  src/shared/ui/layout/index.tsx
  src/shared/ui/layout/layout.module.scss
  src/styles/breakpoints.scss
  src/styles/global.scss
  src/styles/spacings.scss
  yarn.lock
Due: bash -c tsc --noEmit, eslint --fix, stylelint --fix, prettier --write --ignore-unknown

- обновлен ci пайп
  .github/workflows/main.yml
Due: prettier --write --ignore-unknown

- обновлен ci пайп x2
  .github/workflows/main.yml
Due: prettier --write --ignore-unknown

- обновлен ci пайп x3
  .github/workflows/main.yml
Due: prettier --write --ignore-unknown

- обновлен ci пайп x4
  .github/workflows/main.yml
Due: prettier --write --ignore-unknown

- правка ci пайпа
  .github/workflows/main.yml
Due: prettier --write --ignore-unknown

init dockerfile
  Dockerfile
Due: prettier --write --ignore-unknown

Шаг 1 | Создание страницы мероприятий
  .env
  package.json
  src/app/events/page.module.scss
  src/app/events/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/features/events/types.ts
  src/features/events/ui/filters/filters.module.scss
  src/features/events/ui/filters/index.tsx
  src/features/events/ui/list-item/index.tsx
  src/features/events/ui/list-item/list-item.module.scss
  src/features/events/ui/list/index.tsx
  src/features/events/ui/list/list.module.scss
  src/features/events/ui/searcher/index.tsx
  src/features/events/ui/searcher/searcher.module.scss
  src/shared/ui/grid/grid.module.scss
  src/shared/ui/grid/index.tsx
  src/shared/ui/input/index.tsx
  src/shared/ui/input/input.module.scss
  src/shared/ui/layout/index.tsx
  src/shared/ui/layout/layout.module.scss
  src/styles/fonts.scss
  src/styles/global.scss
  src/styles/reset.scss
  yarn.lock
Due: bash -c tsc --noEmit, eslint --fix, stylelint --fix, prettier --write --ignore-unknown

Шаг 3 | Создание страницы мероприятий
  src/features/events/ui/filter-item/filter-item.module.scss
  src/features/events/ui/filter-item/index.tsx
  src/features/events/ui/filters/filters.module.scss
  src/features/events/ui/filters/index.tsx
  src/features/events/ui/list-item/list-item.module.scss
  src/features/events/ui/searcher/index.tsx
  src/features/events/ui/searcher/searcher.module.scss
  src/shared/ui/input/index.tsx
  src/shared/ui/select/index.tsx
  src/shared/ui/select/select.module.scss
  src/styles/reset.scss
Due: bash -c tsc --noEmit, eslint --fix, stylelint --fix, prettier --write --ignore-unknown

Шаг 4 | Создание страницы мероприятий
  package.json
  src/features/events/store/store.ts
  src/features/events/ui/filters/index.tsx
  src/features/events/ui/list-item/list-item.module.scss
  src/features/events/ui/searcher/index.tsx
  src/shared/ui/date-picker/date-picker.module.scss
  src/shared/ui/date-picker/index.tsx
  src/shared/ui/select/index.tsx
  src/shared/ui/select/select.module.scss
  yarn.lock
Due: bash -c tsc --noEmit, eslint --fix, stylelint --fix, prettier --write --ignore-unknown

Шаг 4 | Создание страницы мероприятий
  package.json
  src/features/events/store/store.ts
  src/features/events/types.ts
  src/features/events/ui/dates-picker-field/index.tsx
  src/features/events/ui/filters/index.tsx
  src/shared/ui/date-picker/date-picker.module.scss
  src/shared/ui/date-picker/index.tsx
  src/shared/ui/select/select.module.scss
  yarn.lock
Due: bash -c tsc --noEmit, eslint --fix, stylelint --fix, prettier --write --ignore-unknown

Шаг 4 | Создание страницы мероприятий
  src/features/events/store/selectors.ts
  src/features/events/store/store.ts
  src/features/events/types.ts
  src/features/events/ui/dates-picker-field/date-picker-field.module.scss
  src/features/events/ui/dates-picker-field/index.tsx
  src/features/events/ui/filters/filters.module.scss
  src/features/events/ui/filters/index.tsx
  src/features/events/ui/searcher/index.tsx
  src/features/events/ui/searcher/searcher.module.scss
  src/shared/ui/button/button.module.scss
  src/shared/ui/button/index.tsx
  src/shared/ui/range-field/index.tsx
  src/shared/ui/range-field/range-field.module.scss
  src/shared/ui/range-input/index.tsx
  src/shared/ui/range-input/range-input.module.scss
  src/shared/ui/select/select.module.scss
  src/shared/ui/toggle-field/index.tsx
  src/shared/ui/toggle-field/toggle-field.module.scss
  src/shared/ui/toggle/index.tsx
  src/shared/ui/toggle/toggle.module.scss
Due: bash -c tsc --noEmit, eslint --fix, stylelint --fix, prettier --write --ignore-unknown

Шаг 4 | Создание страницы мероприятий
  src/features/events/ui/dates-picker-field/index.tsx
  src/features/events/ui/filters/filters.module.scss
  src/shared/ui/date-picker/index.tsx
  src/shared/ui/range-field/index.tsx
  src/shared/ui/range-field/range-field.module.scss
  src/shared/ui/select/select.module.scss
Due: bash -c tsc --noEmit, eslint --fix, stylelint --fix, prettier --write --ignore-unknown

Шаг 4 | Создание страницы мероприятий
  package.json
  src/app/events/page.tsx
  src/features/events/store/__fixtures__/index.ts
  src/features/events/store/filters-slice.ts
  src/features/events/store/main-slice.ts
  src/features/events/store/search-slice.ts
  src/features/events/store/selectors.ts
  src/features/events/store/store.ts
  src/features/events/types.ts
  src/features/events/ui/filters/index.tsx
  src/features/events/ui/list/index.tsx
  src/features/events/ui/list/list.module.scss
  src/features/events/ui/searcher/index.tsx
  src/shared/ui/pagination/index.tsx
  src/shared/ui/pagination/pagination.scss
  yarn.lock
Due: bash -c tsc --noEmit, eslint --fix, stylelint --fix, prettier --write --ignore-unknown

Шаг 1 | Создание страницы афишы
  .gitignore
  next.config.mjs
  package.json
  public/afisha/bg.png
  public/afisha/i.webp
  public/icons/header/logo.svg
  public/icons/system/24x24/menu.svg
  src/app/layout.tsx
  src/app/page.module.css
  src/app/page.module.scss
  src/app/page.tsx
  src/styles/reset.scss
  src/widget/header/index.tsx
  src/widget/header/ui/header.module.scss
  src/widget/header/ui/header.tsx
  svgr.d.ts
  tsconfig.json
  yarn.lock
Due: bash -c tsc --noEmit, eslint --fix, stylelint --fix, prettier --write --ignore-unknown

Шаг 1 | Создание страницы афишы
  package.json
  public/icons/system/24x24/arrow-down.svg
  public/test/test.jpg
  src/app/page.module.scss
  src/app/page.tsx
  src/shared/ui/carousel/carousel.module.scss
  src/shared/ui/carousel/index.tsx
  src/widget/event-card/index.tsx
  src/widget/event-card/ui/event-card/event-card.module.scss
  src/widget/event-card/ui/event-card/index.tsx
  yarn.lock
Due: bash -c tsc --noEmit, eslint --fix, stylelint --fix, prettier --write --ignore-unknown

Шаг 1 | Создание страницы афишы
  package.json
  public/icons/system/24x24/arrow-right.svg
  public/icons/system/24x24/calendar.svg
  public/icons/system/24x24/chevron-down.svg
  public/icons/system/24x24/chevron-left.svg
  public/icons/system/24x24/chevron-right.svg
  public/icons/system/24x24/clock.svg
  public/icons/system/24x24/info.svg
  public/icons/system/24x24/user.svg
  public/test/ticket-test.png
  src/app/page.module.scss
  src/app/page.tsx
  src/features/afisha/ui/closest-events-section/closest-events-section.module.scss
  src/features/afisha/ui/closest-events-section/index.tsx
  src/features/afisha/ui/index.ts
  src/features/afisha/ui/main-content/index.tsx
  src/features/afisha/ui/main-content/main-content.module.scss
  src/features/afisha/ui/popular-section/index.tsx
  src/features/afisha/ui/popular-section/popular-section.module.scss
  src/features/afisha/ui/tickets-section/index.tsx
  src/features/afisha/ui/tickets-section/tickets-section.module.scss
  src/shared/hooks/use-breakpoint/index.tsx
  src/shared/hooks/use-breakpoint/utils.ts
  src/shared/hooks/use-intersection-observer/index.ts
  src/shared/ui/button-d/button.module.scss
  src/shared/ui/button-d/index.tsx
  src/shared/ui/button/index.tsx
  src/shared/ui/carousel/carousel.scss
  src/shared/ui/carousel/index.tsx
  src/shared/ui/carousel/ui/dot-navigation/dot-navigation.module.scss
  src/shared/ui/carousel/ui/dot-navigation/index.tsx
  src/shared/ui/carousel/utils/use-button-navigation/index.tsx
  src/shared/ui/carousel/utils/use-dot-navigation/index.tsx
  src/shared/ui/layout/layout.module.scss
  src/styles/colors.scss
  src/styles/reset.scss
  src/widget/event-card/ui/event-card/event-card.module.scss
  src/widget/event-card/ui/event-card/index.tsx
  yarn.lock
Due: bash -c tsc --noEmit, eslint --fix, stylelint --fix, prettier --write --ignore-unknown

Редизайн страницы всех мероприятий
  public/icons/header/logo.svg
  src/app/events/page.module.scss
  src/app/events/page.tsx
  src/app/layout.module.scss
  src/app/layout.tsx
  src/app/page.tsx
  src/features/afisha/index.ts
  src/features/afisha/ui/closest-events-section/index.tsx
  src/features/afisha/ui/index.ts
  src/features/afisha/ui/main-content/main-content.module.scss
  src/features/events/store/__fixtures__/index.ts
  src/features/events/ui/dates-picker-field/date-picker-field.module.scss
  src/features/events/ui/dates-picker-field/index.tsx
  src/features/events/ui/filters/filters.module.scss
  src/features/events/ui/filters/index.tsx
  src/features/events/ui/list/index.tsx
  src/features/events/ui/list/list.module.scss
  src/features/events/ui/searcher/index.tsx
  src/shared/ui/date-picker/date-picker.module.scss
  src/shared/ui/input/input.module.scss
  src/shared/ui/pagination/index.tsx
  src/shared/ui/pagination/pagination.scss
  src/shared/ui/range-field/index.tsx
  src/shared/ui/range-field/range-field.module.scss
  src/shared/ui/range-input/range-input.module.scss
  src/widget/footer/index.tsx
  src/widget/footer/ui/footer.module.scss
  src/widget/footer/ui/index.tsx
  src/widget/header/ui/header.module.scss
  src/widget/header/ui/header.tsx
Due: bash -c tsc --noEmit, eslint --fix, stylelint --fix, prettier --write --ignore-unknown

Страница мероприятия
  package-lock.json
  package.json
  public/icons/system/24x24/ticket.svg
  src/app/event/[event-id]/page.module.scss
  src/app/event/[event-id]/page.tsx
  src/app/events/page.module.scss
  src/app/events/page.tsx
  src/features/events/ui/gallery/gallery.module.scss
  src/features/events/ui/gallery/index.tsx
  src/shared/ui/carousel/carousel.scss
  src/shared/ui/carousel/index.tsx
  src/shared/ui/grid/index.tsx
  src/styles/reset.scss
  src/widget/header/ui/header.module.scss
  src/widget/header/ui/header.tsx
  src/widget/map/index.tsx
  src/widget/map/map.module.scss
  yarn.lock
Due: bash -c tsc --noEmit, eslint --fix, stylelint --fix, prettier --write --ignore-unknown

Страница информации и страница оформления заказа
  src/app/event/[event-id]/page.tsx
  src/features/afisha/ui/popular-section/popular-section.module.scss
  src/widget/event/index.ts
  src/widget/event/ui/event.module.scss
  src/widget/event/ui/index.tsx
Due: bash -c tsc --noEmit, eslint --fix, stylelint --fix, prettier --write --ignore-unknown

Страница информации и страница оформления заказа
  next.config.mjs
Due: prettier --write --ignore-unknown
